
	body {
		font-family: Verdana, MingLiU, Helvetica, Arial, sans-serif;
		font-size: 11px;
		line-height: 14px;
		color: #000000;
        background-color: #F2F2F2;
		margin-left: 0px;
		margin-top: 5px;
		margin-right: 0px;
		margin-bottom: 0px;
		}
		
	.td0 {
		font-family: Verdana, MingLiU, Helvetica, Arial, sans-serif;
		font-size: 12px;	
		font-style: normal;
		line-height: 22px;  
		color: #FFFFFF;
		}
	
	.td2 {
		font-family: Verdana, MingLiU, Helvetica, Arial, sans-serif;
		font-size: 12px;	
		font-style: normal;
		line-height: 22px;
		background-color: #FFFFFF;
		}
			
	td {
		font-family: Verdana, MingLiU, Helvetica, Arial, sans-serif;
		font-size: 11px;	
		font-style: normal;
		line-height: 14px;  
		color: #000000;
		}
	th {
		font-family: Verdana, MingLiU, Helvetica, Arial, sans-serif;
		font-size: 11px;	
		font-style: normal;
		line-height: 14px;  
		color: #000000;
		}
	a {
		color: #C72626;
		}
		
	select {
		font-family: Verdana, MingLiU, Helvetica, Arial, sans-serif;
		font-size: 11px;  
		color: #000000;
		}
		
	input {
		font-family: Verdana, MingLiU, Helvetica, Arial, sans-serif;
		font-size: 11px;  
		color: #000000;
        background-color: #FFFFFF;
		}
		
	textarea {
		font-family: Verdana, MingLiU, Helvetica, Arial, sans-serif;
		font-size: 11px;  
		color: #000000;
		}

	h1 {font-family: Georgia, MingLiU, "Times New Roman", Times;
		font-size: 24px;	 
		font-style: normal; 
		font-weight: bold;
		line-height: 14px;  
		color: #666666;
		}
		
	h2 {
		font-family: Georgia, MingLiU, "Times New Roman", Times;
		font-size: 19px;	 
		font-style: normal;  
		font-weight: bold;
		line-height: 14px; 
		color: #666666;
		}
		
	h3 {
		font-family: Georgia, MingLiU, "Times New Roman", Times;
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		line-height: 14px;  
		color: #666666;
		}

#mainF {	margin-top: 50px;}
#mainF td.whiteF{	border: 10px solid #FFFFFF;}

#info{}
#info td.infoImg{
}
#info td.infoT{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #003366;
}
.itemMenu{}
.itemMenu a:link {	color: #ffffff;	text-decoration: none;}
.itemMenu a:visited {	text-decoration: none;	color: #ffffff;}
.itemMenu a:hover {	text-decoration: underline  ;	color: #FFFF99;}
.itemMenu a:active {	text-decoration: none;	color: #ffffff;}
.itemMenu td.chooseThis{
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-weight: bold;
	color: #FFFF00;
	padding-right: 10px;
	padding-left: 10px;
}
.itemMenu td.noChoose{
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
}
