/*==========================================================================*/
/* font_style.css                                                           */
/*                                                                          */
/*                                                                          */
/* Angel                                                                    */
/*==========================================================================*/

	.TOPTitle {
		font-family: Arial, Georgia, 細明體, "Times New Roman", Times;
		font-size: 24px;	
		font-style: normal;  
		font-weight: bold;
		line-height: 24px;  
		color: #9B262C;
		}

	.ActiveLinkG {
  		font-family: Verdana, 細明體, Helvetica, Arial, sans-serif;
		font-size: 12px;  
		font-style: normal;  
		font-weight: bold;
		line-height: 14px;	
		text-decoration: none;
		color: #FFFFFF;
		}
	
	.ActiveLinkB {
  		font-family: Verdana, 細明體, Helvetica, Arial, sans-serif;
		font-size: 12px;  
		font-style: normal;  
		font-weight: bold;
		line-height: 14px;	
		text-decoration: none;
		color: #666666;
		}
	
	
	.ActiveLinkSG {
  		font-family: Verdana, 細明體, Helvetica, Arial, sans-serif;
		font-size: 10px;  
		font-style: normal;  
		font-weight: bold;
		line-height: 14px;	
		text-decoration: none;
		color: #FFFFFF;
		}

	.ActiveLinkSB {
  		font-family: Verdana, 細明體, Helvetica, Arial, sans-serif;
		font-size: 10px;  
		font-style: normal;  
		font-weight: bold;
		line-height: 14px;	
		text-decoration: none;
		color: #666666;
		}


