
	body {
		font-family: Verdana, Simsun, Helvetica, Arial, sans-serif;
		font-size: 11px;
		line-height: 14px;
		color: #000000;
        background-color: #F2F2F2;
		margin-left: 10px;
		margin-top: 10px;
		}
			
	td {
		font-family: Verdana, Simsun, Helvetica, Arial, sans-serif;
		font-size: 11px;	
		font-style: normal;
		line-height: 14px;  
		color: #000000;
		}
	th {
		font-family: Verdana, Simsun, Helvetica, Arial, sans-serif;
		font-size: 11px;	
		font-style: normal;
		line-height: 14px;  
		color: #000000;
		}
	a {
		color: #C72626;
		}
		
	select {
		font-family: Verdana, Simsun, Helvetica, Arial, sans-serif;
		font-size: 11px;  
		color: #000000;
		}
		
	input {
		font-family: Verdana, Simsun, Helvetica, Arial, sans-serif;
		font-size: 11px;  
		color: #000000;
        background-color: #FFFFFF;
		}
		
	textarea {
		font-family: Verdana, Simsun, Helvetica, Arial, sans-serif;
		font-size: 11px;  
		color: #000000;
		}

	h1 {font-family: Georgia, Simsun, "Times New Roman", Times;
		font-size: 24px;	 
		font-style: normal; 
		font-weight: bold;
		line-height: 14px;  
		color: #666666;
		}
		
	h2 {
		font-family: Georgia, Simsun, "Times New Roman", Times;
		font-size: 19px;	 
		font-style: normal;  
		font-weight: bold;
		line-height: 14px; 
		color: #666666;
		}
		
	h3 {
		font-family: Georgia, Simsun, "Times New Roman", Times;
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		line-height: 14px;  
		color: #666666;
		}
			

    .BGLink {
      	background-color: #B1B9B6;
		margin-left: 10px;
		margin-top: 10px;
		}
		
    .BGLine {
		background-color: #444444;
		line-height: 0px;
		width: 1px;
		}	
		
	.mu2color{
		background-color: #FFFFFF;
		line-height: 0px;
		width: 1px;
		}
		
	.BuBlack93x18 {
		background-color: #A5ADAA;
		height: 18px;
		
		}

	.BuGray93x18 {

		background-color: #E2E2E2;
		height: 18px;
		}
